
<div class="container">
	<div class="row">
		<div class="col-lg-7 col-md-7">
			<div class="post" style="padding:2%">
				<strong><%= message.user_id %></strong> says :
				<div class="chat_content">
					<%= message.body %>
				</div>
				<div class="chat_content">
					<small>at <%= l message.created_at, format: :short %></small>
				</div>
			</div>
		</div>
	</div>
</div>