<% content_for :page_title, "Editer le Forum" %>

	<section class="content" id="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<h1>Editer le Forum</h1>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="post">
				<%= form_tag(category_forum_path(@category, @forum), :method => :put, class: 'form newtopic') do  %>
					<div class="row">
						<div class="col-lg-12">
							
							<div class="topwrap">
								<div class="posttext pull-left">
									<div style="padding-left: 94px ">
										<%= text_field_tag :title, @forum.title, placeholder: 'Titre du Forum', class: 'form-control' %>
									</div>
								</div>
							</div>
						</div>
					</div>
								        
				        <div class="row">
				        	<div class="col-lg-12">
								<div class="submit_new_category pull-left">
									<div style="padding-left: 94px ">
										<%= submit_tag "Envoyer", class: "btn btn-primary" %>
									</div>
								</div>
							</div>
						<div class="clearfix"></div>
					</div>
					
				<% end %>
			</div>
		</div>
		
	</section>