<div class="container-fluid full-page">
      <div class="row">
        <div class="col-6 col-md-3 col-lg-2 bg-dark">
          <% if user_signed_in? %>
            <p class="text-white mt-3">Signed in as <%= current_user.name %></p>
          <% end %>
          <h6 class="text-white my-3">Online Users</h6>
          <div class="left">
            <% @users.each do |user| %>
              <% if user.name != current_user.name and user.is_signed_in %>
                <p class="active-user bg-white" data-id="<%= user.id %>">
                  <span class="online-icon d-inline-block bg-success"></span>
                  <span class="name">@<%= user.name %></span>
                </p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="col-6 col-md-9 col-lg-10 bg-light full-page right py-3">
          <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-warning d-inline-block float-right' %>
        </div>
      </div>
    </div>