
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-lg-9">
				<h1> Resultats de votre recherche : </h1>

				<br>
				<br>

				<% if @forums.length == 0 %>
					<div class="post">
						<div class="topwrap">
							<div class="posttext pull-left">
								<div class="link_to_forum">
									<p> Il n'y a pas encore de forum traitant de ce sujet, créez-le ! &nbsp;&nbsp;&nbsp;  
									<a href="/categories"><button class="btn btn-primary">Choisissez une catégorie</button></a></p>
								</div>
							</div>
							<div class="clearfix"></div>
					</div>
				</div>
				

				<% else %>
					<div class="post">
						<div class="link_to_forum">
							<% @forums.each do |forum| %>
							<ul>
							<li><a href="/categories/<%=forum.category_id%>/forums/<%=forum.id%>"> Allez voir si le forum <strong><%= forum.title %></strong> vous convient ... </a></li>
							</ul>
							<% end %>
						</div>
					</div>
				<% end %>				
			</div>
		</div>
	</div>
</div>





