
Resultats de votre recherche : 


<br>
<br>


<% @forums.each do |forum| %>
<a href="/categories/<%=forum.category_id%>/forums/<%=forum.id%>"> Allez voir si le forum <strong><%= forum.title %></strong> vous convient ... </a> <br>
<% end %>

