<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forum :: Home Page</title>

    </head>

            <!-- //Slider -->
    <body> 

<!--         <div class="container-fluid">
 -->

            <section class="content_img">
                <div>
                    <h1> explication </h1>
                </div>

            </section>

        </div>
    </body>
</html>