<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forum :: Home Page</title>

    </head>

            <!-- //Slider -->

  <body> 

<!--         <div class="container-fluid">
-->
<div class="content">

  <div class="container" style="margin-top:1%">
    <div class="row">
      <div class="col-lg-12 col-md-12">

        <!-- POST -->
        <div class="post">
          <div class="form newtopic">
              
                <div class="flex">
                  <h1 class="line-height-scale-3 font-scale-6 text-align-left lp-headline headline">
                    <span style="color:#30336b">
                      <span style="font-family: Poppins, sans-serif;">
                        <strong style="font-size:30px">Entourez-vous des meilleurs conseillers.</strong><br />
                        <strong style="font-size:30px">Kawaze a été créée dans le but de vous mettre en contact avec des personnes ayant déjà vécu les mêmes expériences que les votres.</strong>
                      </span>
                    </span>
                  </h1>
                </div>

              </div>

            <div class="clearfix"></div>
          </div>  
        </div>
      </div>
    </div>

    <div class="container" style="margin-top:1%">
      <div class="row">
        <div class="col-lg-12 col-md-12">

          <!-- POST -->
          <div class="post">
            <div class="form newtopic">


              <div class="accsection networks">
                <div class="acccap">
                  <div class="posttext pull-centre">
                    <div class="hnotice">
                      Categories :
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="topwrap">
                  <div class="posttext pull-left">

                    <div class="row">
                      <div class="col-lg-4 col-md-4">
                        <button class="btn btn-fb">Categorie 1</button>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <button class="btn btn-fb">Categorie 2</button>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <button class="btn btn-fb">Categorie 3</button>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-lg-4 col-md-4">
                        <button class="btn btn-fb">Categorie 4</button>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <button class="btn btn-fb">Categorie 5</button>
                      </div>
                      <div class="col-lg-4 col-md-4">
                        <button class="btn btn-fb">Categorie 6</button>
                      </div>
                    </div>

                  </div>
                  <div class="clearfix"></div>
                </div>  
              </div><!-- acc section END --> 
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<!-- 
        <div id="category_content" class="flex-container">
          <div class="row">
            <div class="col-xl-12 mx-auto">
              <span>
                <h2><a href="/">Category</a></h2>
              </span>
            </div>
          </div>
        </div> -->


  </body>

</html>