<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forum :: Home Page</title>

    </head>

            <!-- //Slider -->
  <body> 

<!--         <div class="container-fluid">
-->


    <div class="content_img">

        <div class="flex">
            <h1 class="line-height-scale-3 font-scale-6 text-align-left lp-headline headline">
                <span style="color:#d35400">
                    <span style="font-family: Poppins, sans-serif;">
                        <strong>Surround yourself with valuable tips.</strong><br />
                        <strong>Kawaze is here to get you in touch with many people who've already been down there</strong>
                    </span>
                </span>
            </h1>
        </div>

        <div id="category_content" class="flex-container">
          <div class="row">
            <div class="col-xl-12 mx-auto">
              <span>
                <h2>Category</h2>
                  <ul>
                    <div class="flex-item"><li><a href="/">category one</a></li></div>
                    <div class="flex-item"><li><a href="/">category two</a></li></div>
                    <div class="flex-item"><li><a href="/">category three</a></li></div>
                    <div class="flex-item"><li><a href="/">category four</a></li></div>
                  </ul>
              </span>
            </div>
          </div>
        </div>
                                    
    </div>

  </body>
</html>