<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Forum :: Home Page</title>

    </head>

            <!-- //Slider -->
  <body> 

<!--         <div class="container-fluid">
-->

    <section class="content_img">

        <div class="flex">
            <h1 class="line-height-scale-3 font-scale-6 text-align-left lp-headline headline">
                <span style="color: rgba(111, 120, 125, 0.6) 0%, rgba(0,36,61,0.6) 50%);">
                    <span style="font-family: Poppins, sans-serif;">
                        <strong>Surround yourself with valuable tips.</strong><br />
                        <strong>Kawaze is here to get you in touch with many people who've already been down there</strong>
                    </span>
                </span>
            </h1>
        </div>
                                    
    </section>

  </body>
</html>