<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue à Kawaze, <%= @user.name %></h1>
    <p>
      Vous êtes bien enregistrés sur le site kawaze.com 
      <br>
    </p>
    <p>
      Pour vous connecter, rendez-vous sur <%= @url %>.
    </p>
    <p>Merci d'avoir rejoint la communauté ! </p>
  </body>
</html>