
<div class="content">
	<!-- CHAT BOX -->
	<div class="pre-scrollable">
		<div id="messages">
			<%= render @messages %>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-7" style="margin-top:2%">
				<div class="post">
					<div class="say_something">						
						<form>
							<input type="text" data-behavior="room_speaker" placeholder="Say something:" class="form-control">
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- CHAT BOX -->
	<div class="clearfix"></div>
</div>