<% content_for :page_title, "Create a new post" %>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>Nouveau Forum</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="post">
                    <%= form_tag(category_forum_posts_path(@category, @forum), :method => :post, class: 'form newtopic') do  %>
                    <div class="topwrap">
                        <div class="userinfo pull-left">
                        </div>
                        <div class="posttext pull-left">
                            <h2>Nouveau Post</h2>
                            <div>
                                <%= text_field_tag :title, nil, placeholder: 'Titre de votre Post', class: 'form-control' %>
                            </div>

                            <div>
                                <%= text_area_tag :content, nil, placeholder: 'Description', id: 'desc', class: 'form-control' %>
                            </div>
                        </div>
                    </div>                              
                    <div class="postinfobot">

                        <div class="pull-right postreply">
                            <div class="pull-left"><%= submit_tag "Envoyer", class: "btn btn-default" %></div>

                            <div class="clearfix"></div>
                        </div>


                        <div class="clearfix"></div>
                    </div>
                    <% end %>
                </div>

            </div>
        </div>
    </div>
</section>