<footer>
    <div class="container">
        <div class="row">

            <div class="col-lg-1 col-xs-3 col-sm-2 logo ">
                <a href="/">
                    <div class="img_logo" style="padding-top:10%">
                        <%= image_tag('logo1.png', size:"45") %>
                    </div>
                </a>
            </div>

            <div class="col-lg-8 col-xs-9 col-sm-5 ">Kawaze - 2018</div>
            <div class="col-lg-3 col-xs-6 col-sm-5 sociconcent">
                <ul class="socialicons">
                    <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://www.google.fr/" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="https://cloud.google.com/storage/" target="_blank"><i class="fa fa-cloud"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>