               <div class="tp-banner-container">
        <div class="tp-banner revslider-initialised tp-simpleresponsive" id="revslider-948" style="max-height: 500px; height: 278px;">


                    <div class="text_logo">
                        <p>KAWAZE</p>                            
                    </div>

                    <button type="button" class="btn btn-primary">Log In</button>
                    <button type="button" class="btn btn-primary">Sign up</button>
  

            <div class="slotholder" style="width:100%;height:100%;">
                <div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined"> 
                </div>
            </div>

        </div>
    </div>
