            <!-- Slider IMG BACKGROUND -->
 <header class="theme-menu-wrapper full-width-menu <%= current_page?("/") ? '' : 'menu-style-two'  %>">
    <div class="tp-banner-container">
        <div class="tp-banner revslider-initialised tp-simpleresponsive" id="revslider-948" style="max-height: 500px; height: 278px;">
            <div class="slotholder" style="width:100%;height:100%;">
                <div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined"> 
                </div>
            </div>
        </div>
    </div>
            <!-- //Slider -->