            <!-- Slider IMG BACKGROUND -->
            <div class="tp-banner-container">
                <div class="tp-banner revslider-initialised tp-simpleresponsive" id="revslider-948" style="max-height: 500px; height: 278px;">

                    <div class="flex">
                        <h1 class="line-height-scale-3 font-scale-6 text-align-left lp-headline headline" style="font-size:75px">
                            <span style="color:#130f40;margin-top:20%;">
                                <span style="font-family: Poppins, sans-serif;">
                                    <strong>KAWAZE</strong>
                                </span>
                            </span>
                        </h1>
                    </div>

                    <div class="slotholder" style="width:100%;height:100%;">
                        <div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined"> 
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Slider -->

