            <!-- Slider IMG BACKGROUND -->
<header>
  <section class="header-content">
    <div class="tp-banner-container">
        <div class="tp-banner revslider-initialised tp-simpleresponsive" id="revslider-948" style="max-height: 500px; height: 278px;">

                    <div class="header-title animate-pop-in">
                        <div class="text_logo">
                            <div class="space">
                            <%= image_tag('logo1blanc.png', size:"85") %>
                            </div>
                            <div class="space">
                            <p>KAWAZE</p>  
                            </div>                          
                        </div>  
                    </div>

                    <% unless user_signed_in? %>
                    
                    <div class="header-subtitle animate-pop-in">
                        <div class="button_home_page">
                            <div class="button_sign">
                            <%= link_to "Sign In", new_user_session_path, class:"btn btn-primary" %>
                            </div>

                            <div class="button_sign">
                            <%= link_to "Sign UP", new_user_registration_path, class:"btn btn-primary"  %>
                            </div>
                        </div>
                    </div>

                    <% end %>

            <div class="slotholder" style="width:100%;height:100%;">
                <div class="tp-bgimg defaultimg" data-lazyload="undefined" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" data-lazydone="undefined"> 
                </div>
            </div>

        </div>
    </div>
  </section>
</header>
<!-- //Slider -->


